@import url('https://fonts.googleapis.com/css?family=Muli');

#header {
  position: fixed;
  background-color: rgb(129, 125, 125);
  width: 100%;
  height: 80px;
  top: 0px;
  left: 0px;
  /*z-index: 2;*/
}

#branding {
  width: 200px;
  height: 50px;
  float: left;
  background: url("../images/header_abs_301x63.jpeg") no-repeat center center;
  background-size: 200px;
}

#minimenu {
    display: none;
    float: right;
    font-size: 40px;
    margin-right: 20px;
    margin-top: 5px;
    cursor: pointer;
}

.nav {
  float: right;
  font-family: 'Arial';
  text-transform: uppercase;
}

.nav ul {
  padding: 0;
  margin: 0;
}

.nav ul li {
  float: left;
  list-style-type: none;
  border: 1px solid #eee;
}

.nav ul li a {
  background-color: black;
  color: white;
  padding: 10px;
  display: block;
  text-decoration: none;
}

.nav ul li a:hover {
  background-color: white;
  color: black;
}



#sm-list {        
  float: right;
  vertical-align: middle;
}

/* nth-child is a pseudo element to chose a numbered element, 
the even/odd make the respective sections be affected*/
.section:nth-child(even){
  background-color: rgb(200, 229, 35);
}

.section {
  min-height: 1000px;
  padding-top: 100px;
  overflow: hidden;
  /*position: relative;*/
  font-family: 'Muli', sans-serif;
  /*background-color: rgb(178, 176, 237);*/
}

.section article {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.8);
}

#who {
  background: url("../images/dont_panic1600x900.jpg") no-repeat;
  background-size: cover;
}

#skills {
  background: url("../images/bg_tech_1024x1000.jpeg") no-repeat;
  background-size: cover;
}

/* Mobile Breakpoints: 480 ~ 980*/
@media screen and (max-width: 580px){
  body {
    background-color: black;
  }
  #minimenu {
      display: block !important;
      float: right;
  }
  .nav {
    width: 100%;
  }
  .nav ul li {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 480px){
  body {
    background-color: red;
  }
}